@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

::-webkit-scrollbar {
    display: none;
}

.div_ajoute {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.form_voyage {
    margin-top: 50px;
    padding: 50px 0;
}

.form_voyage a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.form_title {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}

/* ======================================= */
select {
    padding: 15px;
    border: none;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

input {
    padding: 13px;
    border: 1px solid lightcyan;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

input:hover {
    cursor: pointer;
    background-color: orange;
    transition: 0.5s;
}

input:not(:hover) {
    transition: 0.5s;
}
/* ======================================= */

/* ============= div form ============== */

.form_voyage div {
    text-align: start;
}

.input_inscription {
    padding: 9px;
    border: 0.2px solid lightgrey;
    margin-top: 10px;
    width: 600px;
    border-radius: 3px;
}

.input_inscription:focus {
    border: 1px solid black;
}

.input_inscription::placeholder {
    font-family: "Montserrat", sans-serif;
    opacity: 1;
}

.form_voyage {
    font-family: "Montserrat", sans-serif;
}
/* =========================================== */

/* ============= signin input ============== */

.ajouter {
    color: white;
    border: 1px solid dodgerblue;
    background-size: 200%;
    padding: 9px;
    transition: 2s ease-out;
    width: 619px;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #0d2680;
}

.ajouter:hover {
    transition: 0.9s;
    cursor: pointer;
    color: black;
    background: orange;
}

.ajouter:not(:hover) {
    transition: 0.9s;
}

/* =================================== */

.erreur {
    color: red;
}

@media (max-width: 800px) {
    .input_inscription {
        width: 250px;
        color: black;
        margin: 0px;
    }
    .div_ajoute {
        width: 300px;
    }
    .ajouter {
        width: 250px;
    }
}
