@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400&display=swap");

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
}

/* .video
{

} */
@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.footerBottom {
    background-color: rgb(204, 111, 12);
    padding: 10px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.footerBottom p {
    color: black;
    font-family: "Montserrat", sans-serif;
}
